.cleanup-report {
    margin: 0;
    margin-top: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 20px;
    color: #fff;
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      z-index: -9;
      height: 100%;
      width: 100%;
      background: linear-gradient(to right, #4f4f4f2e 1px, transparent 1px), linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);
      background-size: 14px 24px;
      mask-image: radial-gradient(ellipse 80% 50% at 50% 0%, #000 70%, transparent 110%);
    }
  
    h1 {
      font-size: 24px;
      margin-bottom: 24px;
      color: #fff;
    }
  
    .summary-card {
      margin-bottom: 24px;
  
      .spam-count {
        font-size: 24px;
        font-weight: bold;
  
        .count {
          color: #fff;
        }
  
        .total {
          color: #8c8c8c;
          font-size: 18px;
        }
      }
    }
  
    .spam-issues-card,
    .label-distribution-card {
        margin-bottom: 20px;
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
  
      ::ng-deep {
        .ant-card-head {
          .ant-card-head-title {
            color: #fff;
          }
        }
      }
    }
  
    .download-buttons {
      display: flex;
      justify-content: flex-start;
  
      button {
        margin-right: 12px;
        font-size: 12px;
        height: 28px;
        padding: 0 12px;
      }
    }
  }