<div class="landing-page" [class.dark-mode]="isDarkMode">
  <ng-template #githubIcon>
    <span nz-icon nzType="github" nzTheme="outline" class="github-icon" (click)="login()"></span>
  </ng-template>
  <ng-container *ngIf="user$ | async as user; else githubIcon">
    <img [src]="user.avatar_url" alt="User Avatar" class="user-avatar">
  </ng-container>
  <div class="svg-container" (click)="openLearnMoreModal($event)">
    <img src="assets/icon.svg" alt="Repo Cleanup Icon" class="repo-cleanup-icon"/>
  </div>
  <div class="hero-section">
    <div class="container">
      <div class="content">
        <h1 class="repocleanup-title" nz-typography>Repo <br /> Cleanup</h1>
        <p class="subtitle" nz-typography>Decluttering repositories</p>
        <div class="input-container">
          <div class="hidden-squiggle1">
            <app-squiggly1></app-squiggly1>
          </div>
          <div class="hidden-squiggle2">
            <app-squiggly2></app-squiggly2>
          </div>
          <nz-card class="custom-card">
            <div class="input-group">
              <input nz-input [(ngModel)]="repoUrl" placeholder="Enter your GitHub repository URL" />
              <div class="button-group">
                <button nz-button nzType="primary" (click)="fetchRepoData()" style="background: rgb(255, 255, 255); border: none; color: rgb(41, 37, 36);">
                  Fetch Issues
                </button>
                <button nz-button nzType="default" (click)="addRules()"><i nz-icon nzType="safety" nzTheme="outline"></i>Add Rules</button>
              </div>
            </div>
          </nz-card>
        </div>
      </div>
    </div>
  </div>
  <p nz-typography class="learn-more-link" (click)="openLearnMoreModal($event)">Learn More</p>
</div>

<ng-template #learnMoreModal>
  <div class="learn-more-content">
    <!-- <h2 nz-typography>Learn more about RepoCleanup</h2> -->
    <div class="resource-links">
      <a nz-button nzType="link" href="https://www.youtube.com/watch?v=yNBtKRospZs&t=2s" target="_blank">
        <span nz-icon nzType="youtube" nzTheme="fill"></span>
      </a>
      <a nz-button nzType="link" href="https://medium.com/@msa242/repocleanup-d54c50d79b99" target="_blank">
        <span nz-icon nzType="medium" nzTheme="outline"></span>
      </a>
    </div>
  </div>
</ng-template>
