<div class="landing-page">
  <div class="svg-container">
    <ng-container *ngFor="let svg of svgs">
      <img [src]="svg.path" [ngStyle]="{ 'color': svg.color, 'top': svg.position.top, 'left': svg.position.left }" class="random-svg" />
    </ng-container>
  </div>
    <div class="container">
      <h1 class="repocleanup-title">RepoCleanup</h1>
  
      <nz-card class="custom-card">
        <div class="content">
          <input nz-input [(ngModel)]="repoUrl" placeholder="Enter GitHub Repo URL" />
          <button nz-button nzType="primary" (click)="fetchIssues()">Fetch Issues</button>
        </div>
      </nz-card>
    </div>
  </div>
  