<ng-template #githubNotification let-nzData="nzData">
  <div class="ant-notification-notice-content">
    <div class="ant-notification-notice-with-icon">
      <span class="ant-notification-notice-icon">
        <span nz-icon nzType="github"></span>
      </span>
      <div class="ant-notification-notice-message">Please log in for full functionality</div>
      <div class="ant-notification-notice-description">Unlimited queries, admin features. and more
      </div>
    </div>
  </div>
</ng-template>

<app-layout>
  <ng-container headerFooter>
    <nz-tabset [nzSelectedIndex]="selectedTabIndex" (nzSelectChange)="onTabChange($event)">
      <nz-tab nzTitle="Issues"></nz-tab>
      <nz-tab nzTitle="Cleanup Report"></nz-tab>
    </nz-tabset>
  </ng-container>

  <div [ngSwitch]="selectedTabIndex">
    <ng-container *ngSwitchCase="0">
      <div class="issues-page">
        <div *ngIf="repoData?.issues.length === 0 || !repoData" style="text-align: center;">
          <h2>No issues found.</h2>
        </div>
    
        <div *ngIf="repoData?.issues.length > 0" style="padding: 20px;">
          <div class="pagination-container" *ngIf="repoData.pagination.totalPages > 1">
            <nz-pagination nzSize="small" [nzPageIndex]="repoData.pagination.currentPage"  [nzTotal]="repoData.pagination.totalIssues" [nzPageSize]="repoData.pagination.perPage" (nzPageIndexChange)="onPageChange($event)"></nz-pagination>
          </div>
          
          <nz-card *ngFor="let issue of repoData?.issues" [ngClass]="{'spam-issue': hasSpamLabel(issue)}" (click)="hasSpamLabel(issue) ? showSpamModal(issue, 'remove') : showSpamModal(issue, 'add')" style="margin-bottom: 20px;">
            <h1>{{ issue.title }}</h1>
            <markdown [data]="issue.body" class="markdown-content" style="margin-top: 10px;"></markdown>
            <div *ngIf="issue.labels && issue.labels.length > 0" style="margin-top: 10px;">
              <nz-tag *ngFor="let label of issue.labels" [nzColor]="'#'+label.color">
                {{ label.name }}
              </nz-tag>
            </div>
          </nz-card>
          
          <div class="pagination-container" *ngIf="repoData.pagination.totalPages > 1">
            <nz-pagination nzSize="small" [nzPageIndex]="repoData.pagination.currentPage"  [nzTotal]="repoData.pagination.totalIssues" [nzPageSize]="repoData.pagination.perPage" (nzPageIndexChange)="onPageChange($event)"></nz-pagination>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="1">
      <app-cleanup-report
        [repoData]="repoData"
        [report]="report"
        (removeSpamLabelEvent)="removeSpamLabel($event)">
      </app-cleanup-report>
    </ng-container>
  </div>
</app-layout>